<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý canh gác - Tiểu đoàn 1</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">

    <!-- CSS chính -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/ionicons.css">
    <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
    <header class="header-section">
        <div class="header-wrapper">
            <div class="header-top bg-dark text-white py-2">
                <div class="container d-flex justify-content-between align-items-center">
                    <div>
                        <i class="icon-call-in"></i> 0123456789
                        &nbsp;|&nbsp;
                        <i class="icon-envelope"></i> demo@example.com
                    </div>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="~/tai-khoan-cua-toi.html" class="text-white">Xin chào: @User.Identity.Name</a>
                            <span> | </span>
                            <a href="~/dang-xuat.html" class="text-white">Đăng xuất</a>
                        }
                        else
                        {
                            <a href="~/dang-nhap.html" class="text-white">Đăng nhập</a>
                            <span> | </span>
                            <a href="~/dang-ky.html" class="text-white">Đăng ký</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-section bg-dark text-white pt-5" style="padding-top: 30px">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-uppercase" style="color: white">Thông tin</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Chính sách giao hàng</a></li>
                        <li><a href="#" class="text-white">Điều khoản sử dụng</a></li>
                        <li><a href="contact-us.html" class="text-white">Liên hệ</a></li>
                        <li><a href="#" class="text-white">Chính sách đổi trả</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-uppercase" style="color: white">Tài khoản</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Tài khoản của tôi</a></li>
                        <li><a href="#" class="text-white">Chính sách bảo mật</a></li>
                        <li><a href="#" class="text-white">Câu hỏi thường gặp</a></li>
                        <li><a href="#" class="text-white">Lịch sử hoạt động</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-uppercase" style="color: white">Danh mục</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Lịch gác</a></li>
                        <li><a href="#" class="text-white">Vi phạm</a></li>
                        <li><a href="#" class="text-white">Phân công học viên</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-uppercase" style="color: white">Liên hệ</h5>
                    <p>Hệ thống quản lý canh gác cho Tiểu đoàn 1.<br />Địa chỉ: Trụ sở đơn vị</p>
                    <p>Email: demo@example.com</p>
                </div>
            </div>
            <div class="text-center py-3 border-top border-secondary">
                <p class="mb-0">&copy; 2025 Tiểu đoàn 1 - Hệ thống quản lý canh gác</p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
